{% extends "base.html" %}

{% block content %}

<h1>Novo Banner</h1>

<form method="POST" enctype="multipart/form-data">

    <label>Título</label><br>
    <input type="text" name="titulo"><br><br>

    <label>Subtítulo</label><br>
    <input type="text" name="subtitulo"><br><br>

    <label>Imagem</label><br>
    <input type="file" name="imagem" required><br><br>

    <label>Link</label><br>
    <input type="text" name="link" value="/produtos"><br><br>

    <label>Status</label><br>
    <select name="ativo">
        <option value="true">Ativo</option>
        <option value="false">Inativo</option>
    </select><br><br>

    <label>Ordem</label><br>
    <input type="number" name="ordem" value="1"><br><br>

    <button type="submit">Salvar Banner</button>

</form>

{% endblock %}